In [2]:
import pandas as pd

In [3]:
vehicles = pd.read_csv("~/Desktop/Data/Pandas/vehicles.csv")

In [6]:
def shape(x):
    print("The shape of the dataframe is", x.shape)

In [7]:
shape(vehicles)

The shape of the dataframe is (35952, 15)

In [8]:
def rows(x):
    print("It has a total of", len(x), "rows")

In [9]:
rows(vehicles)

It has a total of 35952 rows

In [10]:
def columns(x):
    print("It has a total of", len(x.columns), "columns")

In [11]:
columns(vehicles)

It has a total of 15 columns

In [54]:
def column_names(x):
    print("Columns are:",list(x.columns))

In [52]:
column_names(vehicles)

Columns are ['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year']

In [91]:
def min_value(x):
    print(x.min(axis=None, skipna=None, level=None, numeric_only=True))

In [92]:
min_value(vehicles)

Year                       1984.00
Engine Displacement           0.60
Cylinders                     2.00
Fuel Barrels/Year             0.06
City MPG                      6.00
Highway MPG                   9.00
Combined MPG                  7.00
CO2 Emission Grams/Mile      37.00
Fuel Cost/Year              600.00
dtype: float64

In [90]:
def max_value(x):
    print(x.max(axis=None, skipna=None, level=None, numeric_only=True))

In [93]:
max_value(vehicles)

Year                       2017.000000
Engine Displacement           8.400000
Cylinders                    16.000000
Fuel Barrels/Year            47.087143
City MPG                     58.000000
Highway MPG                  61.000000
Combined MPG                 56.000000
CO2 Emission Grams/Mile    1269.571429
Fuel Cost/Year             5800.000000
dtype: float64